@{
    ViewBag.Title = "Приглашение преподавателя";
    var alertVisibility = ViewBag.Message == null ? "none" : "block";
    var alertAutohide = ViewBag.Message == null ? string.Empty : "alert-autohide";
}
@model HwProj.Models.ViewModels.UserInviteViewModel

<br />
<div class="row">
    <div class="offset-xl-1 col-xl-10 offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-12">
        @using (Html.BeginForm("Invite",
            "Roles",
            FormMethod.Post,
            new { @class = "jumbotron jumbotron_border_gray", role = "form" }))
        {
        <div>
            <h4 class="text-center">Пригласите преподавателя в команду HwProj</h4>
            <hr />

            <div class="alert alert-@ViewBag.Color alert-dismissible @alertAutohide fade show" role="alert" style="display: @alertVisibility">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @ViewBag.Message
            </div>
            @Html.HiddenFor(m => m.IsTeacher)
            @*for email*@
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
            @*for comment*@
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Message), rows = 5 })

            <input class="btn btn-primary" type="submit" value="Отправить" />

        </div>
        }
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>