@using HwProj.Models.ViewModels
@model PullRequestChoseViewModel
@{
    ViewBag.Title = "Выбор pull request";
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="jumbotron jumbotron_border_gray">
            @using (Ajax.BeginForm("Chose", "PullRequest", new AjaxOptions { UpdateTargetId = "homework_create" },
            new { @class = "jumbotron grey lighten-5 pt-5", @id = "login-form", role = "form" }))
            {
        <h3 class="text-center">@ViewBag.Title</h3>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.TaskId)
        var repos = new SelectList(ViewBag.Repos as IEnumerable<string>);
        <div class="form-group row">
            <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                @Html.LabelFor(model => model.RepositoryName)
            </div>
            <div class="col-lg-10 col-md-8 col-sm-12 col-12">
                @Html.DropDownListFor(model => model.RepositoryName, repos, "Выберите репозиторий", new { @class = "form-control", @onchange = "FillPR()" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                @Html.LabelFor(model => model.Number)
            </div>
            <div class="col-lg-10 col-md-8 col-sm-12 col-12">
                @Html.DropDownListFor(model => model.Number, new SelectList(Enumerable.Empty<SelectListItem>()), "Выберите pull request", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row float-xl-right float-lg-right float-md-right">
            <div class="col-sm-12 col-12">
                <button class="btn btn-block btn-primary" type="submit">Выбрать</button>
            </div>
        </div>
}
        </div>
    </div>
</div>
