@using HwProj.Tools
@model HwProj.Models.User
@{
    ViewBag.Title = "Новости";
}

<br />
<div class="row">
    <div class="offset-lg-1 col-lg-10 offset-md-1 col-md-10 col-sm-12 col-12">
        <div class="jumbotron jumbotron_border_gray text-center ">
            <h3 class="display-4">@ViewBag.Title</h3>
            <hr />
            <ul class="nav nav-pills nav-justified" id="notification-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="unread-tab" href="#unread" data-toggle="tab" role="tab" aria-controls="unread" aria-selected="true">
                        Непрочитанные
                        @if (Model.Notifications.Count != 0)
                        {
                            var unreadCount = " (" + Model.NoReadNotifications.Count().ToString() + ")";
                            @Html.Raw(unreadCount)
                        }
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="all-tab" href="#all" data-toggle="tab" aria-controls="all" aria-selected="false">Показать все</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="important-tab" href="#important" data-toggle="tab" aria-controls="important" aria-selected="false">Важное</a>
                </li>
            </ul>
            <hr />
            <div class="tab-content" id="notification-tabs-content">
                <div class="tab-pane fade show active" id="unread" role="tabpanel" aria-labelledby="unread-tab">
                    @if (Model.Notifications.Count == 0)
                    {
                        <p>Нет уведомлений</p>
                    }
                    else
                    {
                        var notReadNotifi = Model.NoReadNotifications;
                        foreach (var notifi in notReadNotifi.OrderByDescending(n => n.SendingTime))
                        {
                            <div class="alert alert-info alert-dismissible fade show">
                                <a href="#" onclick="onCloseAlert(@notifi.Id);" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Html.Raw(@notifi.Text)
                                <br />
                                @notifi.SendingTime.Value.ToLongDateString()
                            </div>
                        }
                    }
                </div>
                <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">Все уведомления..</div>
                <div class="tab-pane fade" id="important" role="tabpanel" aria-labelledby="important-tab">Очень важные уведомления, которые никто не читает</div>
            </div>
        </div>
    </div>
</div>

<script>
    function onCloseAlert(id) {
        $.ajax({
            url: '@Url.Action("ReadNotification", "Home")',
            data: { id: id }
        }).done(function () {
            console.log('Test if it has been fired');
        });
    }
</script>