@using HwProj.Models.ViewModels
@using HwProj.Tools
@model HwProj.Models.ViewModels.TaskViewModel

@if (User.Identity.Name == Model.MentorEmail)
{
<button>@Ajax.ActionLink("Редактировать", "_EditPartial", "Tasks",
            new TaskEditViewModel(Model), 
            new AjaxOptions { UpdateTargetId = "task_partial_" + Model.TaskId})
</button>
<button>@Html.ActionLink("Удалить", "Delete", "Tasks", new { taskId = Model.TaskId, courseId = Model.CourseId }, htmlAttributes: new { })</button>
}
else
{
<button>@Html.ActionLink("Добавить решение", "Create", "Homeworks", new { taskId = Model.TaskId, description = Model.Description }, htmlAttributes: new { })</button>
}
<B>@Model.Title</B>
@Html.Raw(@Model.Description.AsMarkdown())