@using HwProj.Models.ViewModels
@using HwProj.Tools
@model HwProj.Models.ViewModels.TaskViewModel

<div>
    <strong>@Model.Title</strong>
    @Html.Raw(@Model.Description.AsMarkdown())
</div>
@if (User.Identity.Name == Model.MentorEmail)
{
<div>
    @Ajax.ActionLink("Редактировать", "_EditPartial", "Tasks",
                 new TaskEditViewModel(Model),
                 new AjaxOptions { UpdateTargetId = "task_partial_" + Model.TaskId },
                 new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Удалить", "Delete", "Tasks", new { taskId = Model.TaskId, courseId = Model.CourseId }, new { @class = "btn btn-outline-primary" })
</div>
}
else
{
    @Html.ActionLink("Добавить решение", "Create", "Homeworks", new { taskId = Model.TaskId, description = Model.Description }, new { @class = "btn btn-outline-primary" })
}