@using HwProj.Models.ViewModels
@using HwProj.Tools
@using HwProj.Tools.Markdown
@using Microsoft.AspNet.Identity
@model HwProj.Models.ViewModels.TaskViewModel

<div>
    <strong>@Model.Title</strong>
    @Html.Raw(@Model.Description.AsMarkdown())
</div>
@if (User.Identity.GetUserId() == Model.MentorId)
{
    <div>
        @Ajax.ActionLink("Редактировать", "_EditPartial", "Tasks",
                             new TaskEditViewModel(Model),
                             new AjaxOptions { UpdateTargetId = "task_partial_" + Model.TaskId },
                             new { @class = "btn btn-outline-primary" })
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#deleteTaskModal">Удалить</button>
    </div>
    <div class="modal fade" id="deleteTaskModal" tabindex="-1" role="dialog" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTaskModalLabel">Удаление задания</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно действительно хотите удалить задание?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Отменить
                    </button>
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Tasks", new { taskId = Model.TaskId, courseId = Model.CourseId })'">
                        Удалить
                    </button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @Html.ActionLink("Добавить решение", "Create", "Homeworks", new { taskId = Model.TaskId, description = Model.Description }, new { @class = "btn btn-outline-primary" })
}