@using HwProj.Models.ViewModels
@using HwProj.Models.Enums
@model CourseEditViewModel

@using (Ajax.BeginForm("Edit", new AjaxOptions {UpdateTargetId = "course_info"}))
{
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        @Html.HiddenFor(t => t.CourseId)
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Name) })
        @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        @Html.TextAreaFor(m => m.GroupName, new {@class = "form-control", placeholder = @Html.DisplayNameFor(m => m.GroupName), rows = 5})
        @Html.ValidationMessageFor(m => m.GroupName, "", new {@class = "text-danger"})
        
    </div>
    <div class="form-group">
        <input class="btn btn-outline-primary" type="submit" value="Изменить"/>
    </div>
}
