@model HwProj.Models.ViewModels.CreateCourseViewModel
@{
    ViewBag.Title = "Создание курса";
}
<br />
<div class="row">
    <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-4 col-sm-8 col-12">
        @using (Html.BeginForm("Create",
            "Courses",
            FormMethod.Post,
            new { @class = "jumbotron jumbotron_border_gray", @id = "register-form", role = "form" }))
        { 
            @Html.AntiForgeryToken()
            <h3 class="text-center">@ViewBag.Title</h3>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Name) })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.GroupName) })
                @Html.ValidationMessageFor(m => m.GroupName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(model => model.IsOpen, new { @checked = true})
                @Html.LabelFor(m => m.IsOpen)
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">Создать</button>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
