@using HwProj.Models
@using HwProj.Models.Enums
@using HwProj.Models.ViewModels
@using HwProj.Tools
@model Course
@helper EmailTextBot(string email, string title)
    {
        <a href="mailto:@email?subject=@title">@email</a>
}
<h3>@Model.Mentor.Email</h3>
@EmailTextBot(Model.Mentor.Email, "Письмо от надоедливого студента")

@if (User.Identity.Name == Model.Mentor.Email)
{
    <div class="col-md-offset-2 col-md-10">
        <button>@Html.ActionLink("Редактировать", "Edit", "Courses", routeValues: null, htmlAttributes: new { })</button>
    </div>
}
@Html.ValidationSummary("", new { @class = "text-danger" })
@if (User.Identity.Name != Model.Mentor.Email && !Model.UserExist(User.Identity.Name))
{
    <hr />
    @Html.ActionLink("Вступить в курс", "SingInCourse", new { courseId = Model.Id }, new { })
    <hr />
    //Html.Partial("SingInCourse", Model.Id);
}

<table>

</table>
@if (User.Identity.Name == Model.Mentor.Email)
{
    @Html.ActionLink("Добавить задание", "AddTask", new { courseId = Model.Id }, new { })
}
@foreach (var task in Model.Tasks.Reverse())
{
    if (User.Identity.Name == Model.Mentor.Email)
    {
    <button>@Ajax.ActionLink("Редактировать", "_EditPartial", "Tasks",
           new TaskEditViewModel(){Description = task.Description, Title = task.Title, TaskId = task.Id}, 
           new AjaxOptions { UpdateTargetId = "task_partial_" + @task.Id })
    </button>
        <button>@Html.ActionLink("Удалить", "Delete", "Tasks", new { taskId = task.Id, courseId = task.CourseId }, htmlAttributes: new { })</button>
    }
    else
    {
        <button>@Html.ActionLink("Добавить решение", "Create", "Homeworks", new { taskId = task.Id, description = task.Description }, htmlAttributes: new { })</button>
    }
    <div id="task_partial_@task.Id">
    @Html.Partial("~/Views/Tasks/TaskPartial.cshtml", new TaskViewModel(task))
    </div>
}

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>