@using HwProj.Models
@using HwProj.Models.Enums
@using HwProj.Models.ViewModels
@using HwProj.Tools
@model Course


<br />
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="jumbotron jumbotron_border_gray">
            <div class="float-xl-right float-lg-right float-md-left">
                <h4>@Model.Mentor.Name @Model.Mentor.Surname</h4>

                @Html.ValidationSummary("", new { @class = "text-danger" })
                @if (User.Identity.Name != Model.Mentor.Email && !Model.UserExist(User.Identity.Name))
                {
                    @Html.ActionLink("Вступить в курс", "SingInCourse", new { courseId = Model.Id }, new { })
                } else
                {
                    @helper EmailTextBot(string email, string title)
                    {
                        <a href="mailto:@email?subject=@title">@email</a>
                    }
                    @EmailTextBot(Model.Mentor.Email, "Письмо от надоедливого студента")
                }
            </div>
            <div class="float-xl-left float-lg-left float-md-left">
                <h4>@Model.Name</h4>
                <div>
                    <h5 class="">@Model.GroupName группа</h5>
                   
                    @if (User.Identity.Name == Model.Mentor.Email)
                    {
                        <button   class="btn btn-primary" title="Редактировать курс" onclick="location.href='@Url.Action("Edit", "Courses", null, null)'">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    }
                    @if (User.Identity.Name == Model.Mentor.Email)
                    {
                        <button class="btn btn-primary" title="Добавить задание" onclick="location.href='@Url.Action("AddTask", "Courses", new { courseId = Model.Id}, null)'">
                            <i class="fas fa-plus"></i>
                        </button>
                    }
                </div>
            </div>
            <div class="clearfix"></div>     
            <hr />
            <h4>Задания</h4>
            @foreach (var task in Model.Tasks.Reverse())
            {
                <div id="task_partial_@task.Id">
                    @Html.Partial("~/Views/Tasks/TaskPartial.cshtml", new TaskViewModel(task))
                </div>
            }
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>