@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ml-auto" }))
    {
  
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Курсы", "Index", "Courses", routeValues: null, htmlAttributes: new { title = "Courses", @class = "nav-link"})
            </li>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbar-dropdown-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Профиль</a>
                <ul class="dropdown-menu dropdown-danger" aria-labelledby="navbar-dropdown-menu-link">
                    <li>
                        @Html.ActionLink("Редактировать", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
                    </li>
                    <li class="dropdown-divider"></li>
                    @Html.AntiForgeryToken()
                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                </ul>
            </li>
             <li class="nav-item" style="margin-top: 10px">
                 @*<a href=@Url.Action("Index", "Home")>*@
                     <i class="fas fa-bell fa-lg" style="color: white"></i>
                 @*</a>*@
             </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            @Html.ActionLink("Вход", "Login", "Account", routeValues: null,
                 htmlAttributes: new { id = "login-link", @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Регистрация", "Register", "Account", routeValues: null,
                 htmlAttributes: new { id = "register-link", @class = "nav-link" })
        </li>
    </ul>
}
