@model HwProj.Models.ManagerModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (!loginProviders.Any()) {
        <div>
            <p>
                Внешние службы проверки подлинности не настроены. Подробности о настройке входа через внешние службы для этого приложения ASP.NET
                см. в <a href="https://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div>
                <p>Или войдите через социальные сети:</p>
                <div class="btn-group" id="social-login-list">
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button class="btn btn-light"
                                type="button"
                                id="@p.AuthenticationType"
                                name="provider"
                                value="@p.AuthenticationType"
                                title="Войти с помощью учетной записи @p.Caption">
                            @p.AuthenticationType
                        </button>
                    }
                </div>
            </div>            
        }
    }
}
