@using HwProj.Models.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}
<br />
<div class="row">
    <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-4 col-sm-8 col-12">
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl},
            FormMethod.Post,
            new {@class = "jumbotron grey lighten-5 pt-5", @id = "login-form", role = "form"}))
        {
            @Html.AntiForgeryToken()
            <h4 class="text-center">@ViewBag.Title</h4>
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email)})
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password)})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">Войти</button>
            </div>
            <div class="form-group">
                @Html.ActionLink("Забыли пароль?", "ForgotPassword")
            </div>
        }
        <section class="social-login-form social-login-form_margin-top_negative jumbotron grey lighten-5 pt-4 pb-4" id="social-login-form">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}