@model HwProj.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<br />
<div class="row">
    <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-4 col-sm-8 col-12">
        @using (Html.BeginForm("Register",
                               "Account",
                               FormMethod.Post,
                               new { @class = "jumbotron pt-5 pb-4", @id = "register-form", role = "form" }))
        { 
            @Html.AntiForgeryToken()
            <h4 class="text-center">@ViewBag.Title</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Name)})
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Surname)})
                @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email)})
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword)})
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                Мужской @Html.RadioButtonFor(model => model.Gender, 0, new { @checked = true })
                Женский @Html.RadioButtonFor(model => model.Gender, 1, new { @checked = true })
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-primary" type="submit">Зарегистрироваться</button>
            </div>
        }
      </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}