@using HwProj.Models.ViewModels
@model PullRequestCreateViewModel

@using (Html.BeginForm("Index", "GitHub",
           FormMethod.Post,
           new { @class = "jumbotron grey lighten-5 pt-5", @id = "login-form", role = "form" }))
{
    <div class="form-group">
        @Html.DropDownListFor(model => model.RepositoryName, new SelectList(ViewBag.Repos), "Выберите репозиторий", new { @class = "form-control", @onchange = "FillBranch()" })
    </div>
    <div class="form-group">
        @Html.DropDownListFor(model => model.BranchRef, new SelectList(Enumerable.Empty<SelectListItem>()), "Выберите ветку")
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Title, "Название пулаХуЙЕгОЕбет")
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Title) })
    </div>
    <div class="form-group">
        <button class="btn btn-block btn-primary" type="submit">Войти</button>
    </div>
    <div class="form-group">
        @Html.ActionLink("Забыли пароль?", "ForgotPassword")
    </div>
}

@section Scripts {
    <script>
        function FillBranch() {
            var repositoryName = $('#RepositoryName').val();
            $.ajax({
                url: 'FillBranch',
                type: "GET",
                dataType: "JSON",
                data: { repositoryName: repositoryName },
                success: function (branches) {
                    $("#BranchRef").html(""); // clear before appending new list
                    $.each(branches, function (i, branch) {
                        $("#BranchRef").append(
                            $('<option></option>').val(branch));
                    });
                }
            });
    }
    </script>
}
